{% extends 'base.html.twig' %}

{% block title %}Zapisz propozycję{% endblock %}

{% block body %}
<div class="container-md">
    <div class="alert alert-success" role="alert">
        Propozycja nowej lokalizacji przystanku została zapisana w sytemie.
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}


{% endblock %}